header {
  display: flex;
  padding-inline: 16px;
  padding-block: 8px;
  background-color: #333;
  color: white;
  align-items: center;
  justify-content: space-between;

  span {
    cursor: pointer;
    &:hover {
      color: gray;
    }
  }
  nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style-type: none;

      li {
        cursor: pointer;
        &:hover {
          color: gray;
        }
      }
    }
  }
}
